@charset "utf-8";

/* 全てに適用 */
html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

h2 {


    font-weight: 700;
    font-size: clamp(23px, 2.5vw, 32px);
    line-height: 46px;
    text-align: center;

    color: #4E301B;

}


/******* ローディング ********/
/* 画面全体の設定 */
#loader_wrap {
    position: fixed;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: #fff;
    z-index: 1000;

}

/* ローディングアニメーションの設定 */
.loader {
    width: 150px;
    height: 150px;
    background: url("../images/logo-01.svg") no-repeat;
    background-position: center;
    opacity: 0;
    animation: blink 1.5s infinite linear;
    z-index: 1000;
    margin: 0 auto;
    margin-top: 40vh;

}

.loader_p {
    color: #4E301B;
    margin: 0 auto;
    width: 160px;
    opacity: 0;
    animation: blink 1.5s infinite linear;
    padding-left: 20px;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

/* ローディング終了後 */
.loaded {
    opacity: 0;
    visibility: hidden;
}

/********* ファーストビュー *********/
.fvWrapper {
    background-image: url(../images/fv.jpg);
    background-position: 50%;
    height: 66.72vw;
    max-height: 854px;
    background-size: cover;
    position: relative;

}

.pc_fv_text {
    position: absolute;
    top: 13%;
    right: 11.4%;
    height: clamp(200px, 33.8vw, 432px);
    overflow: hidden;
}


/* safariずれ */
_::-webkit-full-page-media,
_:future,
:root .pc_fv_text {

    position: absolute;
    top: 17%;
    right: 30%;
    height: clamp(200px, 43vw, 432px);
    overflow: initial;
}

_::-webkit-full-page-media,
_:future,
:root .pc_span {
    width: 4.8vw;
}


/* @media screen and (-webkit-min-device-pixel-ratio:0) {

    ::i-block-chrome,
    .pc_fv_text {
        position: absolute;
        top: 17%;
        right: 30%;
        height: clamp(200px, 38.8vw, 432px);
        overflow: initial;
    }

    ::i-block-chrome,
    .pc_span {
        width: 4.8vw;

    }
} */


/*  */
.sp_fv_text {
    display: none;
}

.pc_fv_text h1 {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    font-size: clamp(17px, 2.5vw, 32px);
    line-height: 150%;
    color: #4E301B;
    letter-spacing: 0.5em;
    margin-bottom: -0.5em;
}

.pc_span {
    background-color: #ffffff;
    width: 4.84vw;
    margin-left: 21px;
    display: inline-flex;
    align-items: center;
    padding-top: 11px;
}


/* メニューバー */

.nav_menu {
    background: #FDF9EF;
    position: relative;
    color: #4E301B;
}

.pc_nav {
    display: flex;
    width: 1028px;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;

}

.pc_nav li {
    margin-right: 39px;
}

.nav_left {
    display: flex;
    padding-top: 6.9vw;
}

.nav_right {
    display: flex;
    padding-top: 6.88vw;
}

/* ロゴ部分 */
.logoBox {
    position: absolute;
    width: fit-content;
    margin: 0 auto;
    z-index: 100;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
}

.logo_1 {
    // width: clamp(50px, 7.5vw, 96px);
    width: 96px;
    margin: 0 auto;
}

.logo_1::after {
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    width: 154px;
    height: 154px;
    background: #FDF9EC;
    border-radius: 50%;
    z-index: -100;
    position: absolute;
}

.logo_2 {
    margin-top: 22.2px;
    margin-bottom: 11px;
    width: 275px;
}

.logo_2_en {
    width: 142px;
    margin: 0 auto;
    line-height: 0;
}


/* スマホ */
/* ハンバーガー */
.sp_nav {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
}

.sp_logo {}

.splogo_1 {
    width: 55px;
    margin: 61px auto 10px auto;
}

.splogo_2 {
    width: 280px;
    margin: 0 auto;
}

.splogo_2_en {
    width: 143px;
    margin: 0 auto;
}

.sp_nav ul {
    display: block;
    margin-top: 50px;
}

.sp_nav li {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    line height: 23px;
    font-size: 16px;

}

.hm_menu {
    display: none;
}

/********* アバウト *********/
.aboutWrapper {
    background: #FDF9EF;
}

.about_inner {
    position: relative;
    width: 93%;
    max-width: 1194px;
    margin: 0 auto;
    padding-top: 6.56vw;
    padding-bottom: 9.84vw;
    display: block;
}

.about_pic1 {
    width: 65.8%;
    margin: 0 0 0 auto;
    margin-bottom: 38px;

}

.about_pic2 {
    width: 32%;
    margin: 0 0 0 auto;
}

.about_title {
    width: 57.8vw;
    height: 5.94vw;
    position: absolute;
    left: 10.5%;
    top: 11vw;
    font-weight: 700;
    font-size: clamp(19px, 3.13vw, 40px);
    line-height: 5.94vw;
    text-align: center;
    color: #35A1C4;
    background: rgba(255, 255, 255, 0.9);
}

/* safariずれ */
_::-webkit-full-page-media,
_:future,
:root .about_title {
    width: 71.8vw;
}

.about_body {
    position: absolute;
    left: 10.5%;
    top: 19vw;
    width: 41.1vw;
    max-width: 530px;
    height: fit-content;
    background: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: clamp(12px, 1.25vw, 16px);
    line-height: 250%;
    color: #857868;
    padding: 15px;
}

/* safariずれ */
_::-webkit-full-page-media,
_:future,
:root .about_body {
    width: 51.1vw;
}

.span1 {
    display: block;
}

.span2 {
    display: block;
}



/********* 製品一覧 *********/
.productWrapper {
    background: #FDF9EF;
}

.swiper-wrapper {
    /* wrapperのサイズを調整 */
    margin-top: 91px;
    margin-bottom: 94px;
    width: 100%;
}

.swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    width: 20.6vw;
    min-width: 182px;
    height: 25.8vw;
    min-height: 228px;
    background: #ffffff;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

/* safariずれ */
_::-webkit-full-page-media,
_:future,
:root .swiper-slide {
    height: 28.8vw;
}

.item_pic {
    width: 100%;
}

.item_text {

    font-weight: 700;
    font-size: clamp(12px, 1.25vw, 18px);
    line-height: 150%;
    /* or 24px */
    color: #4E301B;
    margin: 1.25vw;
}

.item_price {
    font-weight: 400;
    font-size: clamp(12px, 1.25vw, 18px);
    line-height: 23px;
    color: #4E301B;
    margin: 1.25vw;
    position: absolute;
    bottom: 0;

}

/********* お知らせ　*********/
.newsWrapper {
    padding-top: 91px;
    padding-bottom: 91px;
    position: relative;
}

.news_table {
    width: 73vw;
    max-width: 934px;
    height: 15.8vw;
    max-height: 203px;
    border-top: 1px solid #C6C6C6;
    margin: 7vw auto 0 auto;
}

.news_table tr {
    border-bottom: 1px solid #C6C6C6;
}

.news_table th {
    font-style: normal;
    font-weight: 400;
    font-size: clamp(12px, 1.02vw, 13px);
    color: #403F3F;
    vertical-align: middle;
    width: 20.1%;
}

.news_table td {
    font-size: clamp(12px, 1.25vw, 18px);
    font-weight: 400;
    color: #4E301B;
    vertical-align: middle;
}

.grape_pic {
    width: 235px;
    position: absolute;
    right: 0;
    bottom: -78.5px;
    z-index: 100;
}


/********* FAQ *********/
.faqWrapper {
    padding-top: 91px;
    padding-bottom: 91px;
    background: #FDF9EF;
    position: relative;
}

/*アコーディオン全体*/
.accordion-area {
    list-style: none;
    width: 740px;
    margin: 0 auto;
    margin-top: 5.7vw;
}


/*アコーディオンタイトル*/
.title {
    position: relative;
    /*+マークの位置基準とするためrelative指定*/
    transition: all .5s ease;
    background: #ffffff;
    height: 50px;
    margin-top: 31px;
    font-family: 'Noto Sans JP';
    font-size: 18px;
    color: #4E301B;
    display: flex;
    align-items: center;
}

.title br {
    display: none;
}

.Q_p {
    margin-left: 14px;
    margin-right: 8px;
    font-family: 'Roboto';
    font-size: 24px;
}

/*アイコンの矢印*/
.title::before,
.title::after {
    position: absolute;
    content: '';
    right: 0;
    top: 20px;

}

.title::after {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 20px;
    border-bottom: 3px solid #c6c6c6;
    border-right: 3px solid #c6c6c6;
    transform: rotate(45deg);

}

/*　closeというクラスがついたら形状変化　*/

.title.close::after {
    transform: rotate(-135deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;
    /*はじめは非表示*/
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #4E301B;
}

/**** アコーディオンここまで ****/

.breackfast_pic {
    width: 349px;
    position: absolute;
    left: 0;
    margin-top: 20px;
    z-index: 100;
}

/********* アクセス *********/
.accessWrapper {
    position: relative;
    padding-top: 91px;
    padding-bottom: 78px;
}

.access_box {
    display: flex;
    justify-content: center;
    margin-top: 7vw;

}

.access_table {
    width: 35.8vw;
    height: 20.9vw;
    font-size: clamp(12px, 1.41vw, 18px);
    color: #4E301B;
    border-top: 1px solid #C6C6C6;

}

.access_table tr {
    border-bottom: 1px solid #C6C6C6;
}

.access_table th {
    vertical-align: middle;
    width: 13.6vw;
}

.access_table td {
    vertical-align: middle;
}

.map {
    width: 34.6vw;
    height: 26.2vw;
    margin-left: 32px;
}

iframe {
    width: 100%;
    height: 100%;
}

.brussels_pic {
    width: 264px;
    position: absolute;
    right: 0;
    bottom: -75px;
}

/* お問い合わせ */
.contactWrapper {
    padding-top: 104px;
    background: #FDF9EF;
    padding-bottom: 30px;
}

.contactWrapper p {
    font-size: clamp(12px, 1.41vw, 18px);
    /* identical to box height */
    text-align: center;
    color: #4E301B;
    line-height: 20px;
    margin-top: 5.2vw;
}

.contactWrapper span {
    display: inline-block;

}

/* フォーム */
.form-wrapper {
    width: 57.8vw;
    max-width: 740px;
    height: 849px;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 7.27vw;
    border-radius: 20px;
    color: #4E301B;

}

.form-wrapper p {
    padding-top: 37px;
    font-size: clamp(14px, 1.4vw, 18px);
}

.end-message {
    display: none;
    color: #71c2e8 !important;
    margin-top: 0 !important;
    font-weight: 400 !important;
}

.false-message {
    display: none;
    color: #71c2e8 !important;
    margin-top: 0 !important;
    font-weight: 400 !important;
}

.form_box {
    display: flex;
}


label[for="name"],
label[for="postalcode"],
label[for="adress"],
label[for="mail"],
label[for="tell"],
label[for="comment"] {
    display: flex;
    align-items: center;
    width: 34.3%;
    height: 40px;
    margin-left: 5.9vw;
    font-size: clamp(13px, 1.25vw, 16px);
}



.label {
    width: 34.3%;
    margin-left: 5.9vw;
    margin-top: 3.2vw;
    font-size: clamp(13px, 1.25vw, 16px);
}

.need {
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: #FED966;
    border-radius: 10px;
    text-align: center;
    font-size: clamp(12px, 1.09vw, 14px);
    margin-left: 18px;
}




.sample_label {
    font-size: clamp(13px, 1.25vw, 16px);
    font-weight: 400;
}

input[type="text"],
input[type="mail"],
input[type="tell"],
textarea {
    background: #EFEAE6;
    border-radius: 5px;
    width: 45.1%;
    height: 40px;
    margin-bottom: 24px;
}

.form_box:nth-child(3) input[type="text"] {
    width: 21.2%;
}

textarea {
    height: 170px;
}

input[type=radio] {
    display: none;
}


.radio_box {
    width: 45%;
    margin-top: 3.4vw;
    margin-bottom: 24px;
}

/* ラジオボタン */

.sample_label {
    position: relative;
    /* ボックスの位置を指定する */
    padding: 0 0 0 23px;
    /* ボックス内側の余白を指定する */
    display: grid;
    margin-bottom: 10px;
}

.sample_label:after,
.sample_label:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
}

.sample_label:after {
    //left: 15px;
    /* 左から配置の基準位置を決める */
    margin-top: -7px;
    /* チェック枠の位置 */
    width: 16px;
    /* ボックスの横幅を指定する */
    height: 16px;
    /* ボックスの高さを指定する */
    border: 2px solid #4E301B;
    /* ボックスの境界線を実線で指定する */
    border-radius: 50%;
}

.sample_label:before {
    margin-top: -7px;
    /* チェックマークの位置 */
    width: 16px;
    /* ボックスの横幅を指定する */
    height: 16px;
    /* ボックスの高さを指定する */
    border: 6px solid #4E301B;
    /* ボックスの背景色を指定する */
    border-radius: 50%;
    opacity: 0;
}

input[type=radio]:checked+.sample_label:before {
    opacity: 1;
    /* 要素を表示する */
}

.submit-btn {
    display: block;
    width: 243px;
    height: 46px;
    background: #FED966;
    color: #4E301B;
    text-align: center;
    font-size: clamp(12px, 1.09vw, 14px);
    border-radius: 10px;
    margin: 26px auto 0 auto;
}



/* フッター */
.footerWrapper {
    position: relative;
}

.strawverry_mid_pic {
    position: absolute;
    width: clamp(155px, 23.2vw, 297px);
    left: 0;
    bottom: 58px;
}

.livestock_pic {
    position: absolute;
    width: clamp(150px, 18.5vw, 237px);
    right: 0;
    bottom: 58px;
}

.footer_nav {
    display: flex;
    font-size: 16px;
    line-height: 23px;

}

.footer_nav ul {
    display: flex;
    padding-top: 51px;
    margin: 0 auto;
    padding-bottom: 97px;
}

.footer_nav li {
    margin-right: 24px;
    font-size: 16px;
    color: #4E301B;
}

/* ロゴ部分 */
.footer_logoBox {
    width: fit-content;
    margin: 0 auto;
    padding-top: 25px;
    z-index: 100;

}

.footer_logoBox .logo_2 {
    margin-top: 21.2px;
}

.footer_logoBox .logo_1::after {
    background: #ffffff;

}

.right {
    background: #D9D9D9;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    height: 60px;

    color: #4E301B;
    display: grid;
    align-items: center;
}




/******メディアクエリ******************/
/************************************************/
@media (max-width: 1850px) {}

@media (max-width: 1014px) {
    .pc_nav {
        width: 97%;
    }

    .pc_nav li {
        font-size: 14px;
    }

    .logoBox {
        position: absolute;
        top: -33px;
    }

    .nav_left {
        padding-top: 7vw;
    }

    .nav_right {
        padding-top: 7vw;
    }

    .logo_1 {
        width: 67px;
    }

    .logo_1::after {
        position: absolute;
        width: 108px;
        height: 108px;
        top: -21px;
    }

    .logo_2 {
        width: 192px;
        margin-top: 8px;
        margin-bottom: 4px;
    }

    .logo_2_en {
        width: 99px;
    }

    /* fv */
    .pc_fv_text h1 {

        letter-spacing: 0.2em;
    }

    .pc_span {
        padding-top: 6px;
    }

    /* アバウト */


    .span2 {
        display: inline;
    }

    /* お知らせ */

    .grape_pic {
        width: 200px;
        position: absolute;

        bottom: -66px;
    }

    .breackfast_pic {
        width: 300px;
        bottom: -114px;
    }


    .brussels_pic {
        width: 200px;
        bottom: -56px;
    }
}

@media (max-width: 834px) {
    .pc_fv_text {
        height: 210px;

    }

    .pc_fv_text h1 {
        font-size: 20px;
        letter-spacing: 0.1em;
    }

    .pc_span {
        width: 29px;
        padding-top: 6px;
    }

    /* safariずれ */
    _::-webkit-full-page-media,
    _:future,
    :root .pc_fv_text {
        height: 210px;
    }

    .pc_nav {
        justify-content: center;
    }

    .nav_left {
        padding-top: 125px;
    }

    .nav_right {
        padding-top: 125px;

    }

    /* アバウト */

    .about_body {
        /* position: absolute;
        top: 180px; */
        width: 350px;

    }

    /* safariずれ */
    _::-webkit-full-page-media,
    _:future,
    :root .about_body {
        width: 350px;
    }

    /* safariずれ */
    _::-webkit-full-page-media,
    _:future,
    :root .about_title {
        width: 400px;
    }

    /* お知らせ */
    .news_table {
        height: 170px;
    }

    .grape_pic {
        width: 180px;
        position: absolute;

        bottom: -60px;
    }

    .breackfast_pic {
        width: 280px;
        bottom: -107px;
    }

    /* アクセス */
    .brussels_pic {
        width: 180px;
        bottom: -51px;

    }

    /* footer */
    .footer_nav ul {
        padding-bottom: 100px;
    }

    /* フォーム */
    .form-wrapper {
        width: 80vw;
        height: 800px;
    }
}

@media (max-width: 744px) {
    .pc_fv_text {
        position: absolute;
        right: 16%;
    }

    /* safariずれ */
    _::-webkit-full-page-media,
    _:future,
    :root .pc_fv_text {
        height: 210px;
        right: 35%;
        top: 25%;
    }

    .pc_span {
        width: 27px;
        margin-left: 14px;
    }

    .pc_nav {
        display: none;
    }


    /******ハンバーガーメニュー*************/
    .hm_menu {
        display: inline;
        display: block;
        position: fixed;
        z-index: 1000;

        width: 48px;
        height: 48px;
        top: 0;
        right: 0;
        background: #FED966;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        margin: 20px;
    }

    .hm_menu span {
        width: 18px;
        border: 1px solid #4E301B;
        position: absolute;
        top: 18px;
        right: 15px;
        transition: 0.3s;

    }

    /*三本線クリック前  */

    .hm_menu span:nth-child(2) {
        top: 23px;
    }

    .hm_menu span:nth-child(3) {
        top: 28px;
    }

    /*三本線クリック後*/
    .active:nth-child(1) {
        border-color: #4E301B;
        top: 18px;
        right: 15px;
        width: 18px;
        transform: rotate(-45deg);
        transform-origin: 90% 100%;
    }

    .active:nth-child(2) {
        opacity: 0;
    }

    .active:nth-child(3) {
        border-color: #4E301B;
        /*li22+*/
        /* background-color: #000000; */
        /*li22+*/
        width: 18px;
        top: 28px !important;
        /*←.hm_menu .active～にするか、importantつけないと効かない。 */
        right: 15px;
        transform: rotate(45deg);
        transform-origin: 80% 0;
    }

    /* ハンバーガーここまで */
    .logoBox {

        top: -24px;
    }

    .logo_1 {
        width: 48px;
    }

    .logo_1::after {
        position: absolute;
        width: 78.5px;
        height: 78.5px;
        top: -15px;
    }

    .logo_2 {
        width: 137px;
    }

    /* アバウト */
    .about_inner {
        padding-top: 90px;
    }

    .about_pic2 {
        margin-top: 51vw;
    }

    .about_title {
        position: absolute;
        top: 275px;
    }

    /* safariずれ */
    _::-webkit-full-page-media,
    _:future,
    :root .about_title {
        width: 280px;
    }

    .about_body {
        position: absolute;
        top: 340px;
    }

    /* safariずれ */
    _::-webkit-full-page-media,
    _:future,
    :root .about_body {
        width: 340px;
    }

    /* お知らせ */

    .grape_pic {
        width: 135px;
        position: absolute;
        bottom: -45px;
    }

    .breackfast_pic {
        width: 200px;
        bottom: -77px;
    }

    /* FAQ */

    .accordion-area {
        width: 500px;

    }

    /* アクセス */
    .access_box {
        display: block;
    }

    .access_table {
        margin: 7vw auto;
        width: 350px;
        height: 187px;
    }

    .map {
        margin: 0 auto;
        width: 300px;
        height: 250px;
    }

    .brussels_pic {
        width: 140px;
        bottom: -40px;

    }

    /* footer */
    .footer_nav {
        line-height: 28px;
    }

    .footer_nav ul {
        display: block;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 25px;

    }

    .footer_nav li {
        margin-right: 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 630px) {
    .pc_fv_text {
        height: 200px;
    }

    .pc_fv_text h1 {
        font-size: 17px;
    }

    /* アバウト */
    .about_pic1 {
        width: 375px;
    }

    .about_pic2 {
        width: 170px;
        margin-top: 450px;
    }

    .about_title {

        position: absolute;
        top: 275px;
        width: 362px;
        left: 7%;
    }

    .about_body {
        position: absolute;
        top: 340px;
        left: 7%;
    }

    /* 製品一覧 */
    .swiper-wrapper {
        margin-top: 51px;
        margin-bottom: 54px;
    }

    /* お知らせ */
    .news_table {
        width: 415px;
    }

    /* FAQ */

    .accordion-area {
        width: 350px;

    }

    .title {
        font-size: 14px;
    }

    .title br {
        display: inline;
    }

    .box {
        font-size: 13px;
    }

    /* フォーム */
    .form-wrapper {
        width: 350px;
        height: 900px;
    }

    .form_box {
        display: block;
    }


    label[for="name"],
    label[for="postalcode"],
    label[for="adress"],
    label[for="mail"],
    label[for="tell"],
    label[for="comment"] {
        display: flex;
        width: 300px;
        height: 40px;
        margin-left: 10%;
    }



    .label {
        width: 300px;
        margin-left: 10%;
        height: 40px;
        line-height: 40px;
    }

    .radio_box {
        width: 45%;
        margin-top: 0;
        margin-bottom: 1.8vw;
        margin-left: 10%;
    }

    input[type="text"],
    input[type="mail"],
    input[type="tell"],
    textarea {
        width: 80%;
        height: 30px;
        margin-bottom: 1.8vw;
        margin-left: 10%;
    }

    .form_box:nth-child(3) input[type="text"] {
        width: 40%;
    }

    textarea {
        height: 130px;
    }

    .need {
        width: 50px;
        height: 25px;
        line-height: 25px;
        margin-left: 10px;
    }

}

/*スマホ */
@media (max-width: 428px) {

    .newsWrapper,
    .aboutWrapper,
    .accessWrapper,
    .contactWrapper,
    .faqWrapper {
        padding-top: 60px;
    }

    .fvWrapper {
        height: 667px;
        background-size: 998px;
    }

    .pc_fv_text {
        display: none;
    }

    .sp_fv_text {
        display: inline-block;
        font-weight: 700;
        font-size: 24px;

        color: #4E301B;
        width: 229px;
        margin-left: 33px;
        margin-top: 423px;
    }

    .sp_span {
        display: inline-block;
        background-color: #ffffff;
        margin-bottom: 6px;
        height: 38px;
        line-height: 38px;
        padding-left: 7px;
        padding-right: 6px;
    }

    /*  */
    .logoBox {
        top: -48px;
    }

    .logo_1 {

        width: 96px;
        margin: 0 auto;
    }

    .logo_1::after {
        left: 50%;
        top: -30px;
        transform: translateX(-50%);
        content: '';
        display: inline-block;
        width: 154px;
        height: 154px;
        background: #FDF9EC;
        border-radius: 50%;
        z-index: -100;
        position: absolute;
    }

    .logo_2 {
        width: 275px;
    }

    /* アバウト */


    .about_pic1 {
        width: 350px;
        margin: 0 auto;
    }

    .about_pic2 {
        margin-top: 600px;
    }

    .about_title {
        top: 350px;
        left: 50%;
        transform: translateX(-50%);
    }

    .about_body {
        top: 394px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
    }

    /* safariずれ */
    _::-webkit-full-page-media,
    _:future,
    :root .about_body {
        width: 300px;
    }

    _::-webkit-full-page-media,
    _:future,
    :root .about_title {
        font-size: 16px;
        width: 300px;
    }

    /*  */
    .news_table {
        width: 360px;
    }

    .news_table tr {
        display: grid;
        height: 62px;
        padding-top: 10px;
    }

    /* footer */
    .footer_logoBox .logo_1 {
        width: 48px;
    }

    .footer_logoBox .logo_2 {
        width: 137px;
    }

    .footer_logoBox .logo_2_en {
        width: 99px;
    }




}

@media (max-width: 375px) {
    .loader {
        width: 70px;
        height: 70px;
        background-size: 70px;
    }

    .loader_p {
        width: 150px;
        font-size: 14px;
        margin-top: 10px;
    }
}